* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Press Start 2P', monospace;
  color: #fff;
}

h1, h2, p {
  cursor: default;
}

section {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A57CFE;
}

.top-button {
  color: #fff;
  font-size: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/*--Header--*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #40403D;
  border-bottom: 10px solid black;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-box-shadow: 2px 2px 0px 1px #000;
          box-shadow: 2px 2px 0px 1px #000;
}

header .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 3px 3px 0px 1px #000;
          box-shadow: 3px 3px 0px 1px #000;
}

header nav {
  text-align: right;
}

header nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  font-family: "Fira Code", monospace;
}

header nav a::before {
  content: '';
  background: #5F3640;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

header nav a:hover:before {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

header nav #button {
  -webkit-box-shadow: 3px 3px 0px 1px #000;
          box-shadow: 3px 3px 0px 1px #000;
  display: inline-block;
  background-color: #5F3640;
  padding: 18px 20px;
}

header nav #button:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-box-shadow: 5px 5px 0px 1px #000;
          box-shadow: 5px 5px 0px 1px #000;
}

/*--Banner--*/
section.banner {
  height: 807px;
  background-image: url("/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.banner .folder {
  max-width: 955px;
}

section.banner .folder .box {
  display: block;
  position: absolute;
  width: 627px;
  height: 184px;
  left: 91px;
  top: 196px;
  background-color: #3A4042;
  -webkit-box-shadow: 5px 5px 0px 1px #000;
          box-shadow: 5px 5px 0px 1px #000;
}

section.banner .folder .box .title, section.banner .folder .box .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: 3px 3px 0px #000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: default;
}

section.banner .folder .box .title {
  color: #A57CFE;
  margin-top: 44px;
  font-size: 40px;
  margin-left: 13px;
  margin-right: 14px;
}

section.banner .folder .box .subtitle {
  color: #fff;
  font-size: 30px;
  margin: 26px 47px 44px 40px;
}

section.banner .folder .button-banner {
  -webkit-box-shadow: 3px 3px 0px 1px #000;
          box-shadow: 3px 3px 0px 1px #000;
  display: inline-block;
  background-color: #5F3640;
  padding: 17px 18px 20px;
  color: #fff;
  font-size: 20px;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  width: 170px;
  height: 60px;
  margin-right: 0;
  cursor: pointer;
}

section.banner .folder .button-banner:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-box-shadow: 5px 5px 0px 1px #000;
          box-shadow: 5px 5px 0px 1px #000;
}

section.banner .folder .button-banner.download {
  margin-left: -150px;
  margin-top: 338px;
}

section.banner .folder .button-banner.contatos {
  margin-left: 112px;
}

/*--Skills--*/
section.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 740px;
  background-color: #0B2E3C;
}

section.skills .section-name {
  display: block;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
}

section.skills .tech {
  padding-top: 50px;
}

section.skills .tech div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
  height: 90px;
  margin-top: 38px;
}

section.skills .tech img {
  width: 90px;
  height: 90px;
}

section.skills .tech .wrapper-skill {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
  height: 90px;
  text-align: left;
}

section.skills .tech .wrapper-skill .progress-container {
  margin-top: 16px;
  width: 320px;
  height: 40px;
  background-color: #fff;
  border: 5px inset #131313;
}

section.skills .tech .wrapper-skill .progress-container div {
  margin: 0;
}

section.skills .tech .wrapper-skill .progress-container .htmlprogress {
  height: 100%;
  width: 60%;
  background-color: #F16529;
}

section.skills .tech .wrapper-skill .progress-container .cssprogress {
  height: 100%;
  width: 70%;
  background-color: #29A9DF;
}

section.skills .tech .wrapper-skill .progress-container .jsprogress {
  height: 100%;
  width: 50%;
  background-color: #FFC825;
}

/*--Projetos--*/
section.projetos {
  height: 520px;
  background-color: #1b1b1b;
}

section.projetos .section-name {
  padding-top: 50px;
}

section.projetos .btnProjeto {
  display: block;
  text-decoration: none;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  background-color: #5F3640;
  line-height: 40px;
}

section.projetos .btnProjeto:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

section.projetos .swiper-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.projetos .swiper-container .case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 140px;
}

section.projetos .swiper-container .case-container .case {
  border: 1px solid #3f3f3f;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 280px;
  -webkit-box-shadow: 7px 7px 0px 1px #fff;
          box-shadow: 7px 7px 0px 1px #fff;
  margin-right: 156px;
}

section.projetos .swiper-container .case-container .case:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#1b1b1b));
  background: linear-gradient(#2e2e2e, #1b1b1b);
}

section.projetos .swiper-container .case-container .case:nth-child(1) > img {
  width: 60%;
}

section.projetos .swiper-container .case-container .case:nth-child(2) {
  background: #fff;
}

section.projetos .swiper-container .case-container .case:nth-child(2) > img {
  width: 90%;
}

section.projetos .swiper-container .case-container .case:nth-child(3) {
  font-family: 'Press Start 2P', monospace;
  color: #fff;
  background: #5F3640;
}

section.projetos .swiper-container .case-container .case:nth-child(3) > img {
  border-radius: 50%;
  width: 20%;
}

section.projetos .swiper-container .case-container .case:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#0f0f0f), to(#1b1b1b));
  background: linear-gradient(#0f0f0f, #1b1b1b);
}

section.projetos .swiper-container .case-container .case:nth-child(4) > img {
  width: 70%;
}

section.projetos .swiper-container .case-container .case .sobre-projeto {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Fira Code', sans-serif;
  width: 280px;
  height: 280px;
  padding: 15px;
  background: #3b3b3b;
  color: #cfcfcf;
  position: absolute;
}

section.projetos .swiper-container .case-container .case:hover .sobre-projeto {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*--Sobre--*/
section.sobre {
  height: 793px;
  background-color: #336279;
}

section.sobre .section-name {
  padding-top: 50px;
}

/*--Contatos--*/
section.contatos {
  height: 740px;
  background-color: #3b3b3b;
}

section.contatos .section-name {
  padding-top: 50px;
}

/*--Footer--*/
footer {
  height: 100px;
  background: #000;
}

footer h1 {
  padding-top: 50px;
}
/*# sourceMappingURL=style.css.map */